# config file for ansible -- https://ansible.com/
# ===============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]

# i need this because now.yaml can't find the inventory plugin when run locally
# as it is in a non-standard directory ./collections - local to the project
# This means ansible can't find it when i run ansible-inventory -i now.yaml
collections_paths = ./collections:/usr/share/ansible/collections

