  # config file for ansible -- https://ansible.com/
  # ===============================================

  # nearly all parameters can be overridden in ansible-playbook
  # or with command line flags. ansible will read ANSIBLE_CONFIG,
  # ansible.cfg in the current working directory, .ansible.cfg in
  # the home directory or /etc/ansible/ansible.cfg, whichever it
  # finds first

  [defaults]
  collections_paths = ./collections:/usr/share/ansible/collections
  host_key_checking = False
  std_callback=minimal

  [ssh_connection]
  pipelining = True

 [galaxy]
 server_list =  automation_hub

 [galaxy_server.automation_hub]
 url=https://console.redhat.com/api/automation-hub/content/6351851-synclist/
 auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
 token=eyJhb.....
